[submodule "build/Cbc"]
	path = build/Cbc
	url = https://github.com/ekblad/Cbc.git
[submodule "build/Osi"]
	path = build/Osi
	url = https://github.com/ekblad/Osi.git
[submodule "build/Clp"]
	path = build/Clp
	url = https://github.com/ekblad/Clp.git
[submodule "build/CoinUtils"]
	path = build/CoinUtils
	url = https://github.com/ekblad/CoinUtils.git
[submodule "build/Cgl"]
	path = build/Cgl
	url = https://github.com/ekblad/Cgl.git
